doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		script(src="https://code.jquery.com/jquery-3.2.1.js")
		link(rel='stylesheet',href='/style.css')
		script(type="text/javascript", src="/script.js")
		link(rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css")
		script(src="semantic/dist/semantic.min.js")
		title Portfolio Site
		block content
			div(class="ui segment center aligned")
				span Johnathon Lubaway's Portfolio
			div(class="ui three column grid container")
				div(class="column blue")
					h1 About
					div Hello, I am Johnathon Lubaway, though I prefer Jack.
					br
					div I have lived in Michigan a majority of my life, namely Wyandotte.(1991-2010)
					br
					div Moved up north to Houghton for Michigan Tech.(2010-2017)
					br
					div Moved to California for a better learning experience from the bootcamp called Learner's Guild.(2017-2018)
				div(class="column center aligned")
					h1 Skills
					div Took 2 Years as a Mechanical Engineer and 3 Years as a CS Major from Michigan Technological University
					br
					div Graduated from Learner's Guild in February of 2018
					br
					div Working on completing the Front End Developer Badge from Free Code Camp
				div(class="column right aligned orange")
					h1 Contact
					div  Email: NeoJax@gmail.com is my primary email
					br
					div Github: https://github.com/NeoJax/
					br
					div LinkedIn: https://www.linkedin.com/in/johnathon-lubaway-33b628148/
