<% include ../partials/header %>

<div class="ui relaxed grid">
  <div class="ui two column row">
    <div class="ui middle aligned container segment column">
      <span>This first project I have is essentially just making a bookstore with a filled database.</span>
      <button type="button" name="button">
        <a href="https://tranquil-atoll-51299.herokuapp.com/">Bookstore App</a>
      </button>
    </div>
    <div class="ui middle aligned container segment column">
      <span>This second project I have is using an outside API to also display books.</span>
      <button type="button" name="button">
        <a href="#">CRUD Mutably App</a>
      </button>
    </div>
  </div>
  <div class="ui three column row">
    <!-- <div class="ui middle aligned container segment column">
      <span>This third project is Conway's Game of Life.</span>
      <button type="button" name="button">
        <a href="/projects/GoL">Game of Life</a>
      </button>
    </div> -->
    <!-- <div class="ui middle aligned container segment column">
      <span>This project has yet to be implemented but will be a randomly generated maze that is also solved.</span>
      <button type="button" name="button">
        <a href="#">CRUD Mutably App</a>
      </button>
    </div>
    <div class="ui middle aligned container segment column">
      <span>This second project I have is using an outside API to also display books.</span>
      <button type="button" name="button">
        <a href="#">CRUD Mutably App</a>
      </button> -->
    </div>
  </div>
</div>

<% include ../partials/footer %>
