  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned grid">
      <button type="button" name="button">
        <a href="https://github.com/NeoJax">GitHub</a>
      </button>
      <button type="button" name="button">
        <a href="https://www.linkedin.com/in/jacklub/">LinkedIn</a>
      </button>
    </div>
  </div>
</body>
<script type="text/javascript" src="/script.js"></script>
</html>
