<!DOCTYPE html>
<html>
<head>
  <title>Portfolio Site</title>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <div class="ui center aligned main menu header container grid">
    <button class="ui basic button active item" type="button" name="button">
      <a href="/">about</a>
    </button>
    <button class="ui basic button active item" type="button" name="button">
      <a href="/projects">projects</a>
    </button>
    <div class="ui middle aligned center aligned">
      <span class="center aligned column full">Johnathon Lubaway's Portfolio</span>
    </div>
    <button class="ui basic button active item" type="button" name="button">
      <a href="/resume">resume</a>
    </button>
    <button class="ui basic button active item" type="button" name="button">
      <a href="/contact">contact</a>
    </button>
  </div>
