<% include ../partials/header %>

<div class="ui container">
  <div class="column right aligned grey">
    <h1>Contact</h1>
    <div>Feel free to contact me with the below information and thanks for looking at my portfolio!</div>
    <br>
    <div>
      Email: NeoJax@gmail.com is my primary email
    </div>
    <br>
    <div>
      Github: https://github.com/NeoJax/
    </div>
    <br>
    <div>
      LinkedIn: https://www.linkedin.com/in/johnathon-lubaway-33b628148/
    </div>
  </div>
</div>

<% include ../partials/footer %>
