<% include ../partials/header %>

<div class="ui container segment">
  <div class="ui two column grid">
    <div class="column left aligned grey">
      <h1>About</h1>
      <div>
        <p>Hello, I am Johnathon Lubaway, though I prefer Jack.</p>
      </div>
      <br>
      <div>
        <p>I have lived in Michigan a majority of my life, namely Wyandotte.(1991-2010)</p>
      </div>
      <br>
      <div>
        <p>Moved up north to Houghton for Michigan Tech.(2010-2016)</p>
      </div>
      <br>
      <div>
        <p>Moved to California for a better learning experience from the bootcamp called Learner's Guild.(2017-2018)</p>
      </div>
      <br>
      <div>
        <p></p>
      </div>
    </div>
    <div class="column right aligned">
      <h1>Skills</h1>
      <div>
        Took 2 Years as a Mechanical Engineer and 3 Years as a CS Major from Michigan Technological University
      </div>
      <br>
      <div>
        Attendws Learner's Guild as of December, 2017 and plan on Graduating in February of 2018
      </div>
      <br>
      <div>
        Working on Graduating from Grand Circus in December 2019
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
